@model MyLibrary.ViewModels.PatronDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patron</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patron.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patron.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patron.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patron.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patron.LibraryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patron.LibraryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentBooks)
        </dt>
        @foreach(var book in Model.CurrentBooks)
        {
            <dd>
                @Html.DisplayFor(modelbook => book.Title)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Patron.PatronId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
